-#   Copyright (c) 2010-2011, University of Konstanz  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


%head
  :css
    body {
        margin-top: 50px;
        background-color: white;
        background-image : none;
    }

    #header {
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        box-shadow:none;
        border:none;
        background:none;
    }

    #steps {
        text-align: center;
    }

    hr {
        border: none;
        border-bottom: 1px solid #ccc;
    }

    #banner {
        border-bottom : 1px solid #ccc;
        border-top : 1px solid #eee;
        padding : 30px;
        margin : 20px 0;

        -webkit-box-shadow : 0 9px 15px -10px rgba(0,0,0,0.7);
    }

    #links {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #links .section {
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: top;
        width: 24%;
        max-width: 24%;
    }

    #login-link {
        float: right;
    }

    %body
  #page.container
    #content
      .row
        #header{:style => "left: 0; padding: 15px 0;"}
          %a#login-link.btn{:href => "login", :style => "margin-right: 15px;"} Log In
          <img src='assets/branding/logo_caps.png'/ style="margin-left: 15px;">
      #getting-started
        .row{:style => "text-align: center;"}
          #banner
            %h1 Welcome, friend.
            %p
             = t('uniknintro')
        %br
          %br
            #steps.row
              .span4
                %h2
                  %a#login-link.btn{:href => "login"} Log In