// Place all the styles related to the scikon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Scikon defs */
div.author_link{
  display: inline-block;
}

div.author_link a{
  color: #880055;
}

.scikon_contact_card{
  margin-left: 30px;
}